---
Language: C
BasedOnStyle: LLVM
BreakBeforeBraces: Allman
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackArguments: true
BinPackParameters: true
SortIncludes: false
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
AlignTrailingComments: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
...
